{{!< layout }}
<div class="container">
  <h1 class="jumbotron-heading">Update Item</h1>
  <form action="/update?_method=PUT" method="post">
    <div class="form-group">
      <label for="">Image</label>
      <input type="hidden" name="id" value="{{item.id}}">
      <input type="text" name="image" class="form-control" value="{{item.image}}">
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea name="description" class="form-control">{{item.description}}</textarea>
    </div>
    <div class="form-group"><button class="btn btn-warning">Update</button></div>
  </form>
</div>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      {{#each items}}
        <div class="card">
          <img class="img-fluid" src="{{image}}" alt="Card image cap">
          <p class="card-text">{{description}}</p>
          <div class="text-center">
            <a href="/detail/{{ id }}" class="btn btn-warning">Lihat</a>
            <a href="#" class="btn btn-secondary">Masukkan ke keranjang</a>
          </div>
        </div>
      {{/each}}
      <! -- END of Cards-->
    </div>

  </div>
</div>

